In [8]:
# ~~ LIST

# Kumpulan data angka
data_angka = [1,5,2,3]
# print(data_angka)

# Kumpulan data string
data_str = ["aku","dia","kamu"]
# print(data_str)

# kumpulan data boolean
data_bool = [True, False, True, False]
# print(data_bool)

# kumpulan data campuran
data_campuran = ["bakwan", 2, "cireng", True, "Adit"]
# print(data_campuran)

# cara alterntif membuat list
data_range = range(0, 10, 2)
# print(data_range)
# data_list = list(data_range)
# print(data_list)

# membuat list menggunakan for
list_for = [i for i in range(0, 10)]
# print(list_for)

list_for = [i **2 for i in range(0, 10)]
# print(list_for)

# membuat list menggunakan for if
list_for_if = [i for i in range(0,11) if i!=2]
print(list_for_if)

[0, 1, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# buat list menggunakan for, tapi yang akan tampil hanya angka genap
list_for_if = [i for i in range(0, 21) if i%2 == 0]
print(list_for_if)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [10]:
#  manipulasi data pada list

# index 0(-3)   1(-2)   2(-1)
data = ["Ucup", "Adit", "Dudung"]
print(data[-1])

# data index - itu digunakan untuk menampilkan data mulai dari data yg terakhir

# mengambil info panjang jumlah data
panjang_data = len(data)
print("panjang datanya adalah", panjang_data)

# manipulasi data
# menambahkan item pada list sesuai dengan posisi
print(f"data sebelum ditambah : {data}")

# data insert [posisi, item]
data.insert(3,"Asep")
print(f"data setelah ditambah : {data}" )

data.append("Ririn")
print(f"data setelah ditambah : {data}")

# menambahkan list (extend)
data_baru = ["Luffy", "Zoro","Sanji", "Nami", "Robbin"]
data.extend(data_baru)
print(f"data setelah ditambahkan : {data}")

# mengubah data
data[4] = "Rendi"
print(f"data setelah diubah : {data}")

# menghapus data
data.remove("Dudung")
print(f"data setelah dihapus : {data}")

# menghapus data paling belakang
data.pop()
print(f"data setelah dihapus : {data}")

Dudung
panjang datanya adalah 3
data sebelum ditambah : ['Ucup', 'Adit', 'Dudung']
data setelah ditambah : ['Ucup', 'Adit', 'Dudung', 'Asep']
data setelah ditambah : ['Ucup', 'Adit', 'Dudung', 'Asep', 'Ririn']
data setelah ditambahkan : ['Ucup', 'Adit', 'Dudung', 'Asep', 'Ririn', 'Luffy', 'Zoro', 'Sanji', 'Nami', 'Robbin']
data setelah diubah : ['Ucup', 'Adit', 'Dudung', 'Asep', 'Rendi', 'Luffy', 'Zoro', 'Sanji', 'Nami', 'Robbin']
data setelah dihapus : ['Ucup', 'Adit', 'Asep', 'Rendi', 'Luffy', 'Zoro', 'Sanji', 'Nami', 'Robbin']
data setelah dihapus : ['Ucup', 'Adit', 'Asep', 'Rendi', 'Luffy', 'Zoro', 'Sanji', 'Nami']

Operasi List

In [12]:
data_angka = [1,3,4,5,2,7,8,9,6,0,2]
print(data_angka)
# print(f"panjang datanya adalah : {len(data_angka)}")

# count data
jumlah_data_4 = data_angka.count(4)
print(f"jumlah data angka 4 adalah : {jumlah_data_4}\n")

# ambil posisi/index
data = ["Luffy", "Zoro","Sanji", "Nami", "Robbin"]
print(data)
index_luffy = data.index("Luffy")
print(f"index Luffy : {index_luffy}\n")

# mengurutkan list
# sort
data_angka.sort()
print(f"data angka sort : \n{data_angka}\n")

# urutkan data string
data.sort()
print(data)

# membalikan data/reverse
data_angka.reverse()
print(f"data angka reverse : \n{data_angka}\n")

[1, 3, 4, 5, 2, 7, 8, 9, 6, 0, 2]
jumlah data angka 4 adalah : 1

['Luffy', 'Zoro', 'Sanji', 'Nami', 'Robbin']
index Luffy : 0

data angka sort :
[0, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]

['Luffy', 'Nami', 'Robbin', 'Sanji', 'Zoro']
data angka reverse :
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 0]

Nested List/List Bersarang

In [ ]:
# ~~ Nested List

data_0 = [1,2]
data_1 = [3,4]

data_list_biasa = [1,2,3,4]
# print(f"list biasa : {data_list_biasa}")

list_2d = [data_0,data_1]
# print(list_2d)

# contoh penggunaan
peserta_0 = ["Rendi",25,"Laki-laki"]
peserta_1 = ["Johny",10,"Laki-laki"]
peserta_2 = ["Anita",20,"Perempuan"]

list_peserta = [peserta_0,peserta_1,peserta_2]
print(list_peserta)

for peserta in list_peserta:
  print(f"Nama\t : {peserta[0]}")
  print(f"Usia\t : {peserta[1]}")
  print(f"Gender\t : {peserta[2]}")

[['Rendi', 25, 'Laki-laki'], ['Johny', 10, 'Laki-laki'], ['Anita', 20, 'Perempuan']]
Nama	 : Rendi
Usia	 : 25
Gender	 : Laki-laki

Nama	 : Johny
Usia	 : 10
Gender	 : Laki-laki

Nama	 : Anita
Usia	 : 20
Gender	 : Perempuan

Latihan Soal

1. Soal Pertama

In [1]:
buah = ["apel","mangga","jeruk","anggur","pisang"]
print(f"{buah}\n")

# a. Tambahkan 'semangka' di akhir list
buah.append("semangka")
print(f"List data buah setelah ditambahkan : {buah}\n")

# b. sisipkan 'durian' di antara 'jeruk' dan 'anggur'
buah.insert(3,"durian")
print(f"List data buah setelah ditambahkan : {buah}\n")

# c. hapus 'mangga' dari list
buah.remove("mangga")
print(f"List data buah setelah dihilangkan : {buah}\n")

# d. ubabh 'pisang' menjadi 'nanas'
buah[4] = "nanas"
print(f"List data buah setelah diubah : {buah}\n")

# e. tampilkan 3 buah pertama
buah1 = buah[0], buah[1], buah[2]
print(f"List data 3 buah pertama: {buah1}")

['apel', 'mangga', 'jeruk', 'anggur', 'pisang']

List data buah setelah ditambahkan : ['apel', 'mangga', 'jeruk', 'anggur', 'pisang', 'semangka']

List data buah setelah ditambahkan : ['apel', 'mangga', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']

List data buah setelah dihilangkan : ['apel', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']

List data buah setelah diubah : ['apel', 'jeruk', 'durian', 'anggur', 'nanas', 'semangka']

List data 3 buah pertama: ('apel', 'jeruk', 'durian')

2. Soal Kedua

In [ ]:
angka = [45,12,78,23,56,89,34]
print(f"Daftar angka : {angka}\n")

# a. urutkan list secara ascending
angka.sort()
print(f"Daftar angka ascending : {angka}\n")

# b. urutkan list secara decending
angka.reverse()
print(f"Daftar angka decending : {angka}")

Daftar angka : [45, 12, 78, 23, 56, 89, 34]

Daftar angka ascending : [12, 23, 34, 45, 56, 78, 89]

Daftar angka decending : [89, 78, 56, 45, 34, 23, 12]