Multi keys & Nesting Directory

In [ ]:
import datetime

mahasiswa1 = {
    'nama' : 'Ucup Surucup',
    'nim' : '19022001',
    'sks_lulus' : 130,
    'beasiswa' : False,
    'lahir' : datetime.datetime(2001,4,10) # tahun, tanggal, bulan

    # integer di database hanya bisa menampung 11 data, jika depannya 0 maka akan hilang
}
mahasiswa2 = {
    'nama' : 'Azan Maghrib',
    'nim' : '19022002',
    'sks_lulus' : 140,
    'beasiswa' : True,
    'lahir' :datetime.datetime(2002,10,10) # tahun, tanggal, bulan
}
mahasiswa3 = {
    'nama' : 'Slamet Dunia Akhirat',
    'nim' : '19022003',
    'sks_lulus' : 100,
    'beasiswa' : True,
    'lahir' :datetime.datetime(1977,5,10) # tahun, tanggal, bulan
}

data_mahasiswa = {
    'MAH001' : mahasiswa1,
    'MAH002' : mahasiswa2,
    'MAH003' : mahasiswa3,
}

print(f"{'KEY' : <10} {'NAMA' : <22} {'SKS' : <5} {'BEASISWA' : <10} {'LAHIR' : <15}")
print ("-"*60)

for mahasiswa in data_mahasiswa:
  KEY = mahasiswa

  NAMA = data_mahasiswa [KEY] ['nama']
  NIM = data_mahasiswa [KEY] ['nim']
  SKS = data_mahasiswa [KEY] ['sks_lulus']
  BEASISWA = data_mahasiswa [KEY] ['beasiswa']
  LAHIR = data_mahasiswa [KEY] ['lahir'].strftime("%x")

  print(f"{KEY:<10} {NAMA : <22} {SKS : <8} {BEASISWA : <9} {LAHIR : <10}")

KEY        Nama                   SKS   Beasiswa   Lahir
------------------------------------------------------------
MAH001     Ucup Surucup           130      0         04/10/01
MAH002     Azan Maghrib           140      1         10/10/02
MAH003     Slamet Dunia Akhirat   100      1         05/10/77

Latihan Dictionary

In [ ]:
import datetime

mahasiswa_template = {
    'nama' : 'nama',
    'nim' : '0000000000',
    'sks_lulus' : 0,
    'lahir' : datetime.datetime(1111,11,11)
}

data_mahasiswa = {}

print(f"{'SELAMAT DATANG':^20}")
print(f"{'DATA MAHASISWA':^20}")
print("-"*20)

mahasiswa = dict.fromkeys(mahasiswa_template.keys())
print(mahasiswa)

mahasiswa['nama'] = input("Nama Mahasiswa :")
mahasiswa['nim'] = input("NIM Mahasiswa :")
mahasiswa['sks_lulus'] = input("SKS Mahasiswa :")
TAHUN_LAHIR = int(input ("Tahun lahir (YYYY) : "))
BULAN_LAHIR = int(input ("Bulan lahir (1-12) : "))
TANGGAL_LAHIR = int(input ("Tanggal lahir (1-31) : "))
mahasiswa['lahir'] = datetime.datetime(TAHUN_LAHIR, BULAN_LAHIR, TANGGAL_LAHIR)

print(mahasiswa)

   SELAMAT DATANG
   DATA MAHASISWA
--------------------
{'nama': None, 'nim': None, 'sks_lulus': None, 'lahir': None}
Nama Mahasiswa :bagus
NIM Mahasiswa :123
SKS Mahasiswa :123
Tahun lahir (YYYY) : 2006
Bulan lahir (1-12) : 6
Tanggal lahir (1-31) : 9
{'nama': 'bagus', 'nim': '123', 'sks_lulus': '123', 'lahir': datetime.datetime(2006, 6, 9, 0, 0)}

Latihan Terakhir

In [6]:
import datetime
import random
import string


mahasiswa_template = {
    'nama' : 'nama',
    'nim' : '0000000000',
    'sks_lulus' : 0,
    'lahir' : datetime.datetime(1111,11,11)
}

data_mahasiswa = {}

while True:
  print(f"{'SELAMAT DATANG':^20}")
  print(f"{'DATA MAHASISWA':^20}")
  print("-"*20)

  mahasiswa = dict.fromkeys(mahasiswa_template.keys())
  # print(mahasiswa)

  mahasiswa['nama'] = input("Nama Mahasiswa :")
  mahasiswa['nim'] = input("NIM Mahasiswa :")
  mahasiswa['sks_lulus'] = input("SKS Mahasiswa :")
  TAHUN_LAHIR = int(input ("Tahun lahir (YYYY) : "))
  BULAN_LAHIR = int(input ("Bulan lahir (1-12) : "))
  TANGGAL_LAHIR = int(input ("Tanggal lahir (1-31) : "))
  mahasiswa['lahir'] = datetime.datetime(TAHUN_LAHIR, BULAN_LAHIR, TANGGAL_LAHIR)

  KEY = ''.join((random.choice(string.ascii_uppercase) for i in range (6)))
  data_mahasiswa.update({KEY:mahasiswa})
  print(f"{'KEY':<10} {'NAMA' : <22} {'NIM' : <12} {'SKS Lulus' : <12} {'Tanggal lahir' : <10}")
  print('-'*60)

  for mahasiswa in data_mahasiswa:
    KEY = mahasiswa

    NAMA = data_mahasiswa [KEY] ['nama']
    NIM = data_mahasiswa [KEY] ['nim']
    SKS = data_mahasiswa [KEY] ['sks_lulus']
    LAHIR = data_mahasiswa [KEY] ['lahir'].strftime("%x")

    print(f"{KEY:<10} {NAMA: <22} {NIM : <15} {SKS : <12} {LAHIR : <10}")
  print("\n")
  is_done = input("Mau tambah lagi ga? (y/n)")
  if is_done == "n" :
    break
  print(mahasiswa)

   SELAMAT DATANG
   DATA MAHASISWA
--------------------
Nama Mahasiswa :Rahmat
NIM Mahasiswa :2803030
SKS Mahasiswa :140
Tahun lahir (YYYY) : 2000
Bulan lahir (1-12) : 2
Tanggal lahir (1-31) : 8
KEY        NAMA                   NIM          SKS Lulus    Tanggal lahir
------------------------------------------------------------
VAZOVH     Rahmat                 2803030         140          02/08/00


Mau tambah lagi ga? (y/n)n

In [7]:
import datetime
import random
import string

buku_template = {
    'judul': 'Judul Buku',
    'penulis': 'Nama Penulis',
    'tahun_terbit': 0000,
    'tanggal_terakhir_pinjaman': datetime.datetime(1111, 1, 1),
    'status': 'TERSEDIA'
}

# Dictionary utama
data_buku = {}

while True:
    print(f"{'SISTEM PERPUSTAKAAN':^70}")
    print(f"{'DATA BUKU':^70}")
    print("-" * 70)

    # Buat dictionary baru
    buku = dict.fromkeys(buku_template.keys())

    buku['judul'] = input("Judul Buku\t\t: ")
    buku['penulis'] = input("Penulis Buku\t\t: ")
    buku['tahun_terbit'] = int(input("Tahun Terbit\t\t: "))

    print("\nMasukkan tanggal terakhir pinjam:")
    tahun = int(input("Tahun (YYYY)\t\t: "))
    bulan = int(input("Bulan (1-12)\t\t: "))
    tanggal = int(input("Tanggal (1-31)\t\t: "))
    buku['tanggal_terakhir_pinjaman'] = datetime.datetime(tahun, bulan, tanggal)

    buku['status'] = input("Status (TERSEDIA/TIDAK)\t: ").upper()

    # KEY
    KEY = ''.join((random.choice(string.ascii_uppercase) for i in range(6)))
    data_buku.update({KEY: buku})

    # Tampilkan data buku
    print("\nData Buku:")
    print(f"{'KEY':<8} {'JUDUL':<40} {'PENULIS':<20} {'TAHUN':<8} {'TERAKHIR PINJAM':<15} {'STATUS':<10}")
    print("-" * 90)

    for key in data_buku:
        JUDUL = data_buku[key]['judul']
        PENULIS = data_buku[key]['penulis']
        TAHUN = data_buku[key]['tahun_terbit']
        PINJAM = data_buku[key]['tanggal_terakhir_pinjaman'].strftime("%x")
        STATUS = data_buku[key]['status']
        print(f"{key:<8} {JUDUL:<40} {PENULIS:<20} {TAHUN:<8} {PINJAM:<15} {STATUS:<10}")

    print("\n")
    is_done = input("Tambah buku lagi? (y/n): ").lower()
    if is_done == "n":
        break

print("\nTerima kasih telah menggunakan sistem perpustakaan.")

                         SISTEM PERPUSTAKAAN
                              DATA BUKU
----------------------------------------------------------------------
Judul Buku		: Bulan
Penulis Buku		: Tere Liye
Tahun Terbit		: 2016

Masukkan tanggal terakhir pinjam:
Tahun (YYYY)		: 2024
Bulan (1-12)		: 12
Tanggal (1-31)		: 28
Status (TERSEDIA/TIDAK)	: Tersedia

Data Buku:
KEY      JUDUL                                    PENULIS              TAHUN    TERAKHIR PINJAM STATUS
------------------------------------------------------------------------------------------
MKBAKP   Bulan                                    Tere Liye            2016     12/28/24        TERSEDIA


Tambah buku lagi? (y/n): y
                         SISTEM PERPUSTAKAAN
                              DATA BUKU
----------------------------------------------------------------------
Judul Buku		: Matahari
Penulis Buku		: Tere Liye
Tahun Terbit		: 2016

Masukkan tanggal terakhir pinjam:
Tahun (YYYY)		: 2025
Bulan (1-12)		: 1
Tanggal (1-31)		: 26
Status (TERSEDIA/TIDAK)	: Tidak

Data Buku:
KEY      JUDUL                                    PENULIS              TAHUN    TERAKHIR PINJAM STATUS
------------------------------------------------------------------------------------------
MKBAKP   Bulan                                    Tere Liye            2016     12/28/24        TERSEDIA
ZFREVY   Matahari                                 Tere Liye            2016     01/26/25        TIDAK


Tambah buku lagi? (y/n): n

Terima kasih telah menggunakan sistem perpustakaan.